body {
    background-color: rgb(38, 88, 118);
    color: rgb(71, 162, 241);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-style: italic;
}

li.especial{
    font-weight: bold;
    transition: 1.5s all;
}

.especial:hover {
    color: rgb(170, 200, 237);
}

section p, p {
    text-decoration: underline;
    cursor: pointer;
}

#profile{
    width: 200px;
}
section {
    background: chocolate;
    padding: 35px;
    border: 5px solid #000;
    margin: 30px;
}